<!DOCTYPE html>

{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
</head>
<body>
<div class="nav">
    <ul>
        <li><a href="prjct.html"><i class="fas fa-home"></i> Home</a></li>
    </ul>
</div>
	<div class="image-container">
		<img src="{% static 'images/picture.jpg' %}">
	<div class="text">
		<p>Driving the experience</p>
		<p>enterprise agenda</p>
		<h4>SET UP A DISCOVERY CALL</h4>
</div>
</div>
<div class="scrollable-content">
<h1>Experience Enterprise</h1>
<p>If there’s anything that’s driving the Industry 4.0 agenda, that is Experience. The bots, conversational AI, analytics, digital core, cloud and mobile, everything is converging to consistently deliver the experience of life time to their customers and employees.</p>

<p>While few enterprises are ahead of the game, few others are catching up. Customer expectations, market changes and demands on operational efficiencies have pushed businesses to rapidly adopt the digital technologies to be relevant in the marketplace. Digital age ecosystems, such as SAP and Salesforce, with their ecosystems, are further pushing the business to be an Experience Enterprise that is hyper agile, insight-driven, efficient and delivers incredible customer experience.</p>

<p>LP technologies is at the center of this transformation. There is no cookie cutter solution to realize the experience enterprise dream. We take a consulting and business goal driven approach in helping you realize the dream. This approach ensured us to improve the engagement completion rates within budgets and time. </p>

<p>We’ve designed our organization on Experience and our singular focus is “Experience”</p>
	<h1>Bringing together decades of experience in transforming enterprises</h1>

</div>	



</body>
</html>