<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/prjct.css' %}">
	<title></title>
</head>
<body>
		<div class="basics">
			<div class="navbar">
				<ul>
					<h2>LP Technologies</h2>
					<li><a href="prjct.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="services.html">Services</a></li>
					<li><a href="careers.html">Careers</a></li>
					<li><a href="contact.html">Contact Us</a></li>
			<input type="text" placeholder="  Search...">
				</ul>
		</div>
		<div class="content">
			<h1>Light Up Your Ways</h1>
		</div>
		</div>
</body>
</html>