<!DOCTYPE html>

{% load static %}
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}">
	<title>Services</title>
</head>
<body>
<div class="nav">
<ul>
<li><a href="services.html"><i class="fa-solid fa-house"></i> Home</a></li>
        <!-- Add other nav items here -->
    </ul>
	</ul>
	</div>
	<div class="sample">
		<img src="{% static 'images/it.jpg' %}">
		<div class="text">
		<h2>Consulting Services</h2>
	</div>
</div>
	<div class="para">
		<h1>Kickstart your experience enterprise journey with</h1>
		<h1> Consulting Services</h1>
		<p>In a constantly and fast evolving technology marketplace, businesses are under pressure to realize the complete potential and value of their existing technology investments and look out for additional technologies to innovate  with less cost and risk.<br>

		Customers are on look out for services to resolve business challenges by optimizing or enhancing the existing landscape, and identify new impactful digital solutions for their business.</p><br><br>
		<h1>Our Services</h1>
		<div class="first">
		<h3>Experience design for your stakeholders across touch points</h3><br>
		<h3>Business Process design and reengineering in line with the Experience Design</h3>
		<h3>Technology landscape assessment and definition of ‘Technology Transformation Strategy’</h3>
	</div>	
	</div>

	

</body>
</html>